:root {
    --foreground-color: lightgray;
    --background-color: #1e1e1e;
    --second-background: dimgray;
    --main-color: #0277FC;
    --accent-color: dimgray;
    --nav-active: #a8a7a7;
    --nav-hover: dimgray;

    /* Set dark/light mode icon icon colors so they're both readable. */
    --day-color: var(--foreground-color);
    --night-color: var(--background-color);
}

/* Make link status more easily readable in dark mode */ 
a {
    color: #1bbbfb 
}

a:visited {
    color: #297eb0
}

a:active {
    color: #fb501c 
}

/* Position theme toggle background correctly */
nav label #toggle-background {
    right: 0.85rem;
}

/* Position theme toggle background for collapsible menu */
@media only screen and (max-width: 580px) {
    nav label #toggle-background {
        right: 2.5rem;
    }
    
}
