body, header nav {
    background-color: #403f3f ;
    color: white;
}

a {
    color: #1bbbfb 
}

a:visited {
    color: #297eb0
}

a:active {
    color: #fb501c 
}

/* Nav link styling */
nav a {
    color: white;
}
nav a:visited {
    color: white;
}
nav a:hover {
    background-color: dimgray;
}
nav a:active {
    color: lightgray;
}
/* End nav link styling */