:root {
    --foreground-color: black;
    --background-color: white;
    --second-background: white;
    --main-color: #0277FC;
    --accent-color: dimgray;
    --nav-active: dimgray;
    --nav-hover: lightgray;
}
