:root {
    --foreground-color: black;
    --background-color: white;
    --second-background: white;
    --main-color: #0277FC;
    --accent-color: dimgray;
    --nav-active: dimgray;
    --nav-hover: lightgray;

    /* Set dark/light mode icon icon colors so they're both readable. */
    --day-color: var(--background-color);
    --night-color: var(--foreground-color);
}

/* Position theme toggle background correctly */
nav label #toggle-background {
    right: 2.4rem;
}

/* Position theme toggle background for collapsible menu */
@media only screen and (max-width: 580px) {
    nav label #toggle-background {
        right: 4.25rem;
    }
    
}